Chapter 10: Data Aggregation and Group Operations

In [1]:
import numpy as np
import pandas as pd

Group operations follow a split-apply-combine sequence. First data is split into groups based on one or more keys (either split across rows or columns), then a function is applied to each group, then the results are combined into a result.

In [3]:
# Start with a tabular dataset made into a DataFrame
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                   "key2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
                   "data1" : np.random.standard_normal(7),
                   "data2" : np.random.standard_normal(7)})
df

   key1  key2     data1     data2
0     a     1  0.310332 -0.498939
1     a     2 -0.313075 -0.564034
2  None     1  0.077525 -0.793243
3     b     2  0.154056  0.177349
4     b     1  0.410321  1.492122
5     a  <NA> -0.619965 -0.485768
6  None     1 -0.179697  0.748278

In [4]:
# Sort the df by picking out the data1 column and group by key1
grouped = df["data1"]
grouped

0    0.310332
1   -0.313075
2    0.077525
3    0.154056
4    0.410321
5   -0.619965
6   -0.179697
Name: data1, dtype: float64

In [5]:
grouped = df["data1"].groupby(df["key1"])
grouped

In [6]:
# The groupby object has all the info needed to apply an operation to each of the groups
grouped.mean()

key1
a   -0.207569
b    0.282189
Name: data1, dtype: float64

In [8]:
# Passing multiple arrays to "group by" gives different groups and different values
means = df["data1"].groupby([df["key1"], df["key2"]]).mean()
means

key1  key2
a     1       0.310332
      2      -0.313075
b     1       0.410321
      2       0.154056
Name: data1, dtype: float64

In [9]:
# You can group by any arrays of the correct length
states = np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])
years = [2005, 2005, 2006, 2005, 2006, 2005, 2006]

df["data1"].groupby([states, years]).mean()

CA  2005   -0.466520
    2006    0.077525
OH  2005    0.232194
    2006    0.115312
Name: data1, dtype: float64

Index(['key1', 'key2', 'data1', 'data2'], dtype='object')

In [11]:
# size returns a Series containing group sizes
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [13]:
df.groupby("key1").size()

key1
a    3
b    2
dtype: int64

In [14]:
df.groupby("key1", dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [15]:
# The object returned by groupby supports iteration
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  0.310332 -0.498939
1    a     2 -0.313075 -0.564034
5    a  <NA> -0.619965 -0.485768
b
  key1  key2     data1     data2
3    b     2  0.154056  0.177349
4    b     1  0.410321  1.492122

In [17]:
# This allows for the computation of a dictionary of the data pieces as a one-liner:
pieces = {name: group for name, group in df.groupby("key1")}
pieces

{'a':   key1  key2     data1     data2
 0    a     1  0.310332 -0.498939
 1    a     2 -0.313075 -0.564034
 5    a  <NA> -0.619965 -0.485768,
 'b':   key1  key2     data1     data2
 3    b     2  0.154056  0.177349
 4    b     1  0.410321  1.492122}

In [19]:
# We can group the columns of the dataframe by whether they start with "key" or "data"
grouped = df.groupby({"key1": "key", "key2" : "key", "data1": "data", "data2": "data"}, axis="columns")
for group_key, group_values in grouped:
    print(group_key)
    print(group_values)

data
      data1     data2
0  0.310332 -0.498939
1 -0.313075 -0.564034
2  0.077525 -0.793243
3  0.154056  0.177349
4  0.410321  1.492122
5 -0.619965 -0.485768
6 -0.179697  0.748278
key
   key1  key2
0     a     1
1     a     2
2  None     1
3     b     2
4     b     1
5     a  <NA>
6  None     1